@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: -1px;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0.5rem 1rem;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: auto;
  border: none;
  border-radius: 25px;
}
ul li {
    list-style: none;
}
div {
    display: block;
}

#wrap {
    overflow: hidden;
}
.container {
    width: 1680px;
    margin: 0 auto;
}
.content {
    height: 1080px;
}
.header_bg {
   background-color: rgba(242, 242, 242, 0.5);
   
   margin: 0 auto;
}
.top_wrap {
    background-image: url(../img/main_background.jpg);
    background-position: 0 100%;
}
.logo  { width:88px;
}
.main{
    
}

.about {
    margin-top: 100px;
}
.about div {
    display: inline-block;
    text-align: center;
    float: left;
    
}
    .profile {
        width: 410px;
    }   
        .profile_picture {
            width: 100%;
            height: 410px;
            border-radius: 50% 50%;
            display: inline-block;
            background-color:#ff0;
        }
        .profile_details {
            width: 100%;
            height: 215px;
            margin-top:71px;
            background-color: beige;
        }
    .career {
        margin-left: 180px;
        width: 410px;
    }
        .education {
            height: 165px;
            width: 100%;
            background-color: aquamarine;
        }
        .activity {
            width: 100%;
            height: 85px;
            background-color: #ff02ff;
            margin-top: 80px;
        }
        .resume {
            width: 100%;
            height: 285px;
            background-color: #a3a33e;
            margin-top: 80px;
        }
    .ability {
        width: 410px;
        margin-left: 180px;
    } 
        .lisence {
            width: 100%;
            background-color: rgb(122, 73, 73);
            height: 410px;
        }
        .skills {
            width: 100%;
            background-color: rgb(57, 172, 143);
            height: 255px;
            margin-top: 80px;
        }
.webdeisgns{
    background-image: url("../img/webdesign_background.jpg");
}
    .webdesignslogo{
        width: 367px;
        display: block;
        margin: 0 auto;
        padding: 70px 0px 40px 0px;
    }
    .wb_slide {
        max-width: 1620px;
        margin: 0 auto;
        padding-top: 100px;
    }
    .slide_button {
        max-width: 915px;
        display: block;
        height: 45px;
        margin: 0 auto;
    }
    .slide_button li{
        background-color: #ffffff;
        border: 1px solid #b1c2ff;
        width: auto;
        height: 45px;
        display: inline-block;
        line-height: 45px;
        padding: 0px 30px 0px 30px;
        border-radius: 25px;
        font-size: 18px;
        margin-right: 22px;
    }
    .slide_button li:active {
        
    }
.designs {
}
.designs div {
    float: left;
}
.designs .forth_design {
    margin-right: 0;
}
    
    .designslogo {
        width: 241px;
        display: block;
        margin: 0 auto;
        padding: 70px 0 100px 0;
    }
    .designs_area {
        max-width: auto;
        margin: 0 auto;
    }
    .designs_area div {
        width: 380px;
        margin-right: 48px;
    }
    .thumb  {
        width: 380px;
        height: 340px;
        border-radius: 10px;
        background-color: #ddd;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    .desc_title {
        font-size: 20px;
        font-weight: 600;
        color: #666666;
    }
.contact {
     background-image: url("../img/contact_backgoround.jpg");
}
footer {
    background-color: ivory;
    height: 120px;
}