@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: url(../../img/previous.png);
}
[dir='rtl'] .slick-prev:before
{
    content: url(../../img/previous.png);
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: url(../../img/next.png);
}
[dir='rtl'] .slick-next:before
{
    content: url(../../img/);
}

/* Dots */
.slick-dots
{
    position: absolute;
    top: -40px;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    margin-top: 40px;
}
.slick-dots li
{
    position: relative;
    display: inline-block;
    width: auto;
    height: 46px;
    left: -62px;
    margin: 0 20px 0 0;
    cursor: pointer;
}
.slick-dots li:last-child {
    margin-right: 0px !important;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: auto;
    height: 45px;
    padding: 0px 30px 0px 30px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 45px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    content: '';
    text-align: center;
    border-radius: 25px;
    background-color: transparent;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active {
    background-color: #4461fc;
    border-radius: 25px;
    z-index: 100;
    color: #4461fc;
}
.slick-dots li.slick-active button:before
{
    color: #ffffff;
}
.slick-dots li::after {
    display: inline-block;
    position: relative;
    text-align: center;
    float: left;
    padding: 0px 30px;
    bottom: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 1px solid #88a1fe;
}
.slick-dots li:hover::after,
.slick-dots li:focus::after{
    height: 45px;
    line-height: 45px;
    border-radius: 25px;
    color: #ffffff;
    background-color: #4461fc;
}
.slick-dots li:first-child::after {
    content: '이야기 끓이는 주전자';
    
}
.slick-dots li:nth-child(2)::after {
    content: '디자인소재은행';
}
.slick-dots li:nth-child(3)::after {
    content: '쇼핑몰 페이지';
}
.slick-dots li:last-child::after {
    content: '산부인과 페이지';
}